.calcbox {
    display: flexbox;
    margin: 2px;
    padding: 10px;
    border: 2px solid black;
    width: 350px;
    height: fit-content;
}

.mapbox {
    display: flexbox;
    border:  2px solid black;
    width: 500px;
    height: 500px;
}

.container {
    display:  inline-flex;
}

.infobox {
    display: flexbox;
    margin: 2px;
    padding: 10px;
    border: 2px solid black;
    width: 350px;
    height: fit-content;
}

.infoselector {
    display: inline-flex;
    width: 350px;
}

.infotab {
    border: 2px solid black;
    width: 75px;
    text-align: center;
}