.bodycontainer {
    display: flexbox;
    width: fit-content;
    height: 100%;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    padding: 0px 2px;
    border-left: 4px double black;
    border-right: 4px double black;
}

.calcbox {
    display: flexbox;
    margin: 2px;
    padding: 10px;
    border: 2px solid black;
    width: 400px;
    height: fit-content;
}

.mapbox {
    display: flexbox;
    margin: 2px;
    border:  2px solid black;
    width: 500px;
    height: 500px;
}

.container {
    display:  inline-flex;
    width: fit-content;
    align-self: center;
    border: 2px dashed black;
}

.infobox {
    display: flexbox;
    margin: 2px;
    padding: 10px;
    border: 2px solid black;
    width: 400px;
    height: fit-content;
}

.infoselector {
    display: inline-flex;
    width: 350px;
}

.infotab {
    border: 2px solid black;
    width: 75px;
    text-align: center;
}

.solarhead {
    padding: 4px 10px;
}

.solarheadtext {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
    line-height: 1px;
}